.profile__edit-btn {
  height: 24px;
  width: 24px;
  background: url(../../../images/profile-edit.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #fff;
  cursor: pointer;
  transition: opacity .5s ease;
  outline: none;
}

.profile__edit-btn:hover {
  opacity: .6;
}

@media screen and (max-width: 633px) {
  .profile__edit-btn {
    height: 18px;
    width: 18px;
    background-size: 7.5px 7.5px;
  }
}
