.elements__delete {
  background: url(../../../src/elements-delete.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 18px;
  height: 19.3px;
  cursor: pointer;
  border: none;
  transition: opacity .5s ease;
  outline: none;
  position: absolute;
  top: 18px;
  right: 15px;
}

.elements__delete:hover {
  opacity: .6;
}
