.elements__like {
  background: url(../../../src/elements-like.svg);
  background-position: center;
  background-repeat: no-repeat;
  min-width: 22px;
  height: 19px;
  margin: 5px 0 0 0;
  cursor: pointer;
  border: none;
  transition: opacity .5s ease;
  outline: none;
}

.elements__like:hover {
  opacity: .5;
}
