.popup__save-btn {
  background-color: #000;
  border-radius: 2px;
  margin: 0;
  padding: 0;
  border: none;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.21;
  text-align: center;
  color: #fff;
  height: 50px;
  cursor: pointer;
  transition: opacity .5s ease;
  outline: none;
}

.popup__save-btn:hover {
  opacity: .8;
}

@media screen and (max-width: 633px) {
  .popup__save-btn {
    font-size: 14px;
  }
}
