.profile__avatar-edit {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  padding: 0;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../../../src/avatar-edit.svg);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: opacity .2s ease;
  transition: background-color .2s ease;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0);
}

.profile__avatar-edit:hover {
  opacity: .8;
  background-color: rgba(0, 0, 0, 1);
}
