@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);


.body {
  background-color: #000;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 400;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  color: #fff;
}

.page {
  padding-top: 45px;
  padding-bottom: 60px;
  margin: 0 auto;
  max-width: 880px;
}

@media screen and (max-width: 960px) {
  .page {
    margin: 0 40px;
  }
}

@media screen and (max-width: 633px) {
  .page {
    padding-top: 28px;
    padding-bottom: 36px;
    margin: 0;
  }
}


.header {
  border-bottom: 1px solid #545454;
  max-width: 100%;
  width: 100%;
  height: 74px;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 633px) {
  .header {
    margin: 0;
    padding-left: 27px;
    height: 56px;
  }
}

@media screen and (max-width: 633px) {
.header__logo {
  width: 103.74px
}
}

.profile {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

@media screen and (max-width: 633px) {
  .profile {
    flex-direction: column;
    margin: 42px 19px 0 19px;
  }
}

.profile__account {
  display: flex;
}

@media screen and (max-width: 633px) {
  .profile__account {
    flex-direction: column;
    align-items: center;
  }
}

.profile__avatar {
  width: 120px;
  border-radius: 50%;
}


.profile__info {
  margin: auto 0;
  margin-left: 30px;
}

@media screen and (max-width: 633px) {
  .profile__info {
    margin-left: 0;
    margin-top: 26px;
    align-items: center;
  }
}

.profile__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  align-items: baseline;
}

@media screen and (max-width: 633px) {
  .profile__row {
    margin-bottom: 14px;
}

.profile__name {
  padding: 0;
  margin: 0 18px 0 0;
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 633px) {
  .profile__name {
    margin: 0 10px 0 18px;
    font-size: 27px;
    line-height: 33px;
  }
}

.profile__edit-btn {
  height: 24px;
  width: 24px;
  background: url(../images/profile-edit.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #fff;
  cursor: pointer;
  transition: opacity .5s ease;
  border-radius: 2px;
}

.profile__edit-btn:hover {
  opacity: .6;
}

@media screen and (max-width: 633px) {
  .profile__edit-btn {
    height: 18px;
    width: 18px;
    background-size: 7.5px 7.5px;
  }
}

.profile__description {
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 1.21;
  font-weight: 400;
  text-align: center;
}

.profile__add-btn {
  height: 50px;
  width: 150px;
  min-width: 50px;
  margin-left: 18px;
  background: url(../images/profile-add.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid #fff;
  cursor: pointer;
  transition: opacity .5s ease;
}

.profile__add-btn:hover {
  opacity: .6;
}

@media screen and (max-width: 633px) {
  .profile__add-btn {
    width: 100%;
    padding: 0;
    margin: 36px 19px 0;
  }
}

.elements {
  margin: 51px auto 67px;
}

.elements__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(208px, 1fr));
  row-gap: 20px;
  column-gap: 17px;
  list-style: none;
  padding: 0;
  margin: 0;
  max-width: 100%;
}

.elements__figure {
  border-radius: 10px;
  background-color: #fff;
  margin: 0;
  padding: 0;
  max-width: 320px;
}

@media screen and (max-width: 633px) {
  .elements__figure {
    max-width: 484px;
  }
}

.elements__img {
  object-fit: cover;
  max-width: 100%;
}

.elements__sign {
  padding: 25px 15px 31px 21px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.elements__caption {
  font-size: 24px;
  line-height: 29px;
  font-weight: 900;
  color: #000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.elements__like {
  background: url(../images/elements-like.svg);
  background-position: center;
  background-repeat: no-repeat;
  min-width: 22px;
  height: 19px;
  margin: 5px 5px -1px 0;
  cursor: pointer;
}

.elements__like_active {
  background: url(../images/elements-like-active.svg);
}

.footer__sign {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: #545454;
}

.popup {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background: rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup_disabled {
  display: none;
}


.popup__form {
  margin: auto;
  width: 430px;
  min-height: 330px;
  box-sizing: border-box;
  padding: 34px 36px 37px;
  background-color: #fff;
  border-radius: 10px;
  z-index: 3;
  display: flex;
  flex-direction: column;
  position: relative;
}

@media screen and (max-width: 633px) {
  .popup__form {
    max-width: 282px;
  }
}

.popup__title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 900;
  color: #000;
  margin: 0 0 24px 0 ;
  padding: 0;
}

.popup__input {
  margin: 30px 0;
  border: none;
  max-width: 100%;
  height: 27px;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  padding: 0 0 13px 0;
}

.popup__input:last-of-type {
  margin-top: 0;
  margin-bottom: 48px;
}

.popup__save-btn {
  background-color: #000;
  border-radius: 2px;
  margin: 0;
  padding: 0;
  border: none;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.21;
  text-align: center;
  color: #fff;
  height: 50px;
  cursor: pointer;
  transition: opacity .5s ease;
}

.popup__save-btn:hover {
  opacity: .8;
}

.popup__exit-btn {
  background: url(../images/popup-exit.svg);
  height: 56px;
  width: 56px;
  position: absolute;
  top: -48px;
  right: -48px;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  transition: opacity .5s ease;
}

.popup__exit-btn:hover {
  opacity: .6;
}

@media screen and (max-width: 633px) {
  .popup__exit-btn {
    height: 36.8px;
    width: 36.8px;
    top: -50.4px;
    right: 0;
    background-size: 36.8px 36.8px;
  }
}
